.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    left:0;
}
#helper {
    width: 0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    
}
#logo {
    width: 25px;
    margin-left: 20px;
}
#title {
    margin-top: 160px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}
#container {
    display: inline;
    vertical-align: middle;
}
.explain {
    display: inline;
    color: grey;
    vertical-align: top;
}
a {
    position: fixed;
    right: 5%;
    color: skyblue;
    display: inline-block;
    line-height: 50px;
}
#link {
    display: inline;
}
#main-photo {
    text-align: center;
    margin-top: 100px;
}
#main-photo img {
    width: 650px;
}
#subtitle {
    text-align: center;
}